.footer {
  background: #093f03;
  color: white;
  padding: 50px 20px 10px;
  margin-top: 60px;
  line-height: 1.6;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.footer-text {
  opacity: 0.9;
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  opacity: 1;
}
/* NAV LINKS HOVER UNDERLINE */
.footer-section ul li a,
.footer-section ul li button {
  position: relative;
  padding-bottom: 2px; /* space for underline */
}

.footer-section ul li a::after,
.footer-section ul li button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff; /* underline color */
  transition: width 0.3s ease;
}

.footer-section ul li a:hover::after,
.footer-section ul li button:hover::after {
  width: 100%;
}

.footer-section p a {
  color: white;
  text-decoration: none;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-section p a:hover {
  opacity: 1;
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-social a {
  color: white;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-social a:hover {
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0 0;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 14px;
  opacity: 0.85;
}

/* TABLET VIEW */
@media (max-width: 768px) {
  .footer {
    padding: 35px 15px;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

/* MOBILE VIEW */
@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 25px;
  }

  .footer-social {
    justify-content: center;
  }

  .footer,
  .footer-section ul li a {
    font-size: 15.5px;
  }
}
